<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rent Confirmation</title>
</head>
<body class="center">
    <h1>Rent Confirmation</h1>
    <p>You've rented <strong>{{ movie_title }}</strong> from <strong>{{ store_name }}</strong>.</p>
    <p>Please return your rented movie within 7 days.</p>
    <p><a href="/all-movies">Browse More Movies</a></p>
</body>
</html>
